body
{
    margin: 0;
    padding: 0;
    font-family:Arial,tahoma;
    
}
.header
{
    background-color:#9b9b00;
    color:#FFF;
    padding:20px;
    font-size:20px;
    text-align:center;
    text-transform:capitalize;
}
.navigation
{
    background-color:#e6e6e6;
    text-align:center;
    color:#3a3a3a;
    
}
.navigation h2
{
    padding: 0;
    margin: 0;
}
.navigation ul
{
    list-style-type:none;
}
.navigation li
{
    display:inline-block;
    padding:10px; 
}
.navigation a
{
    text-decoration:none;
    text-transform: capitalize;
}
.navigation a:hover
{
    color:blue;
    font-weight:bold; 
}
.content img
{
    width:400px;
    height:400px;
     
}
.content
{
    text-align: center;
    padding:20px;
    background-color:#F9F9F9;
    margin-top:-16px; 
}
.footer
{
    background-color: #a8a803;
    text-align: center;
    padding: 10px;
}