body
{
    background-color:#EFEFEF;
    font-family: Arial,tahoma;
}
hr
{
    border:1px dashed #c4c4c4 ;   
}
fieldset
{
    border:1.5px solid #CCC;
    padding:20px;
    width:600px;
    background:#FFF;
    margin:20px auto;
}
legend
{
    background: #FFF;
    border:1.5px solid #CCC;
    padding:10px;
}
label,select,input
{
    
}
label
{
    margin:10px 5px;
    text-transform:capitalize;
    display:block;
}
input
{
    margin:10 5px;
}
input[type="text"],[type="password"],[type="email"],[type="submit"]
{
    width:300px;
    padding:8px;
    display:block;
}
textarea
{
    padding:10px;
    width:640px;
    height:200px;
    font-size:32px; 
}
